<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style-thangLv.css">


</head>

<body>

<div class="container-change-pass">

    <main class="card">

        <section class="esquerda">
            <h2 class="title">Đổi mật khẩu</h2>
            <form>
                <section class="caixa__input">
                    <label for="currentPassword">Mật khẩu hiện tại</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="currentPasswordInput" name="password"
                               placeholder="Nhấn vào để nhập" value="">
                        <span class="input-group-text"><i class="far fa-eye-slash" id="currentPassword"></i></span>
                    </div>
                    <p style="color: #ff0033">Mật khẩu hiện tại không được trống</p>
                    <p style="color: #ff0033">Mật khẩu không đúng</p>
                </section>
                <section class="caixa__input">
                    <label for="newPassword">Mật khẩu mới</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="newPasswordInput" name="password"
                               placeholder="Nhấn vào để nhập" value="">
                        <span class="input-group-text"><i class="far fa-eye-slash" id="newPassword"></i></span>
                    </div>

                    <p style="color: #ff0032">Mật khẩu mới không được để trống</p>
                    <p style="color: #ff0034">Từ 8-15 ký tự, gồm chữ thường, chữ hoa, ký tự đặc biệt</p>
                </section>
                <section class="caixa__input">
                    <label for="confirmPassword">Nhập lại mật khẩu</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="confirmPasswordInput" name="password"
                               placeholder="Nhấn vào để nhập" value="">
                        <span class="input-group-text"><i class="far fa-eye-slash" id="confirmPassword"></i></span>
                    </div>
                    <p style="color: #ff0034">Xác nhận lại mật khẩu</p>
                    <p style="color: #ff0031">Không trùng mật khẩu</p>
                </section>
            </form>
            <section class="controle__acesso">
                <div class="">
                    <div style="display: flex;justify-content: space-evenly">
                        <div>
                            <a type="button" href="information_person.html"
                               class="btn btn-outline-danger btn-padding-10">Quay lại</a>
                        </div>
                        <div>
                            <a type="button" class="btn btn-outline-success btn-padding-10">Xác nhận</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="direita d-flex align-items-center">
            <div class="background__imagem ">
                <img src="logo_vaccination.png"/></div>
        </section>
    </main>
</div>
<script>
    const currentPassword = document.querySelector("#currentPassword");
    const currentPasswordInput = document.querySelector("#currentPasswordInput");
    currentPassword.addEventListener("click", function () {
        const type = currentPasswordInput.getAttribute("type") === "password" ? "text" : "password";
        currentPasswordInput.setAttribute("type", type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash')
    });
    const newPassword = document.querySelector("#newPassword");
    const newPasswordInput = document.querySelector("#newPasswordInput");
    newPassword.addEventListener("click", function () {
        const type = newPasswordInput.getAttribute("type") === "password" ? "text" : "password";
        newPasswordInput.setAttribute("type", type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash')
    });
    const confirmPassword = document.querySelector("#confirmPassword");
    const confirmPasswordInput = document.querySelector("#confirmPasswordInput");
    confirmPassword.addEventListener("click", function () {
        const type = confirmPasswordInput.getAttribute("type") === "password" ? "text" : "password";
        confirmPasswordInput.setAttribute("type", type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash')
    });
</script>
</body>
</html>
