<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment=”footer”>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>+</h3>
                        <p>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> bui15062000@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Các liên kết</h4>
                        <ul>
                            <li> <a th:href="@{/vaccine/list-vaccine}">Trang chủ</a></li>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li> <a href="#">Dịch vụ</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Thành viên</h4>
                        <ul>
                            <li><a href="#">Lê Văn Thắng</a></li>
                            <li><a href="#">Võ Tuyên Quang</a></li>
                            <li> <a href="#">Trần Thị Thùy Linh</a></li>
                            <li><a href="#">Huỳnh Thị Phương Loan</a></li>
                            <li>< <a href="#">Lê Vũ Ngọc Huy</a></li>
                            <li><a href="#">Võ Văn Vương</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Tham gia bản tin của chúng tôi</h4>
                        <p>Biết nhiều hơn về chúng tôi!!! Trung tâm tiêm chủng luôn mang hạnh phúc tới cho các bạn.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Trung tâm tiêm chủng thành phố Đà Nẵng</span></strong>
                </div>

            </div>
        </div>
    </footer>
</th:block>
</body>
</html>