.th-table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.card-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-custom-1 {
    border-left: 4px solid #8900fc;
}

.card-custom-2 {
    border-left: 4px solid #f9b900;
}

.card-custom-3 {
    border-left: 4px solid #00aba1;
}

.card-title {

}

.icon-custom {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-custom-1 {
    background-color: #ac5bf5;;
}

.icon-custom-2 {
    background-color: #f1c958;
}

.icon-custom-3 {
    background-color: #78d9d0;
}

.icon-item {
    font-size: 32px;
    color: white;
    font-weight: lighter;
}
.chart-custom{
    border: 1px solid #5c8593;
    border-radius: 12px;
    margin-bottom: 24px;
}
.text-bold{
    font-weight: bold;
}