<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chi tiết [[${pageTitle}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/adminStyle_HuyLVN.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="sb-nav-fixed">
<th:block th:insert="admin/nav"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="admin/sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    [[${pageTitle}]]
                </h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/vaccines}">Vaccines</a></li>
                    <li class="breadcrumb-item active">[[${pageTitle}]]</li>
                </ol>
                <div class="card mb-4" th:each="vaccine : ${vaccine}">
                    <div class="card-header">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Chi tiết
                        <a th:href="@{/admin/vaccines/newInventory/{id}(id=${vaccine.id})}"><button type="button" class="btn btn-outline-primary btn-sm" style="float: right"><i class="fa fa-plus" aria-hidden="true"></i></button></a>
                        <a th:href="@{/admin/vaccines/recycleInventory/{id}(id=${vaccine.id})}"><button type="button" class="btn btn-outline-warning btn-sm" style="float: right; margin-right: 5px"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                    </div>
                    <div th:if="${messages}" class="alert alert-success text-center">
                        [[${messages}]]
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" >
                                <img th:src="${vaccine.image}" class="img-fluid" style="height: 100%;">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Tên Vaccine: </label>
                                    <div class="col-sm-8" th:text="${vaccine.name}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Mã định danh: </label>
                                    <div class="col-sm-8" th:text="${vaccine.code}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Mô tả: </label>
                                    <div class="col-sm-8" th:text="${vaccine.description}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Đơn giá: </label>
                                    <div class="col-sm-8" th:text="${vaccine.getPriceFormat()}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Thời hạn tác dụng: </label>
                                    <div class="col-sm-8" th:text="${vaccine.duration}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Liều lượng (ml): </label>
                                    <div class="col-sm-8" th:text="${vaccine.dosage}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Độ tuổi phù hợp: </label>
                                    <div class="col-sm-8" th:text="${vaccine.age}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Ngày tạo: </label>
                                    <div class="col-sm-8" th:text="${vaccine.createDate}"></div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4" style="font-weight: bold">Ngày cập nhật: </label>
                                    <div class="col-sm-8" th:text="${vaccine.updateDate}"></div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <table id="datatablesSimple" style="padding-top: 15px">
                            <thead>
                            <tr>
                                <th>Tên lô hàng</th>
                                <th>Số lượng</th>
                                <th>Nhà cung cấp</th>
                                <th>Địa chỉ</th>
                                <th>Ngày sản xuất</th>
                                <th>Hạn sử dụng</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Tên lô hàng</th>
                                <th>Số lượng</th>
                                <th>Nhà cung cấp</th>
                                <th>Địa chỉ</th>
                                <th>Ngày sản xuất</th>
                                <th>Hạn sử dụng</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each = "inventory : ${inventoryList}">
                                <td th:text="${inventory.inventoryName}"></td>
                                <td th:text="${inventory.quantity}"></td>
                                <td th:text="${inventory.supplier}"></td>
                                <td th:text="${inventory.address}"></td>
                                <td th:text="${inventory.productionDate}"></td>
                                <td th:text="${inventory.expirationDate}"></td>
                                <td><a th:href="@{/admin/vaccines/editInventory/{id}(id=${inventory.id})}"><button type="button" class="btn btn-outline-success"><i class="fa fa-pencil-square" aria-hidden="true"></i></button></a></td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" th:data-toggle="modal" th:data-target="'#deleteModal-' + ${inventory.id}" th:data-id="${inventory.id}">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade custom-modal" th:id="'deleteModal-' + ${inventory.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #dc3545">
                                                    <h5 class="modal-title" id="deleteModalLabel">Xóa lô hàng?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Nếu bạn xóa lô hàng này, nó sẽ được chuyển vào kho hết hạn. Bạn có chắc chắn muốn tiếp tục không?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Thoát</button>
                                                    <a th:href="@{/admin/vaccines/deleteInventory/{id}(id=${inventory.id})}"><button type="button" class="btn btn-outline-danger">Xác nhận</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:insert="admin/footer_admin"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/adminScripts.js}"></script>
<script th:src="@{/js/DatabaseSimple.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
