<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tables - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/custom-css.css}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

</head>
<body class="sb-nav-fixed">
<th:block th:insert="admin/nav"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="admin/sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="m-5 ">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <div class="card  rounded-3 card-custom card-custom-1 ">
                            <div class="card-body text-black ">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title"> Hôm nay </h5>
                                    <div class="icon-custom icon-custom-1">
                                        <i class="fa-regular fa-sun  icon-item"  ></i>
                                    </div>
                                </div>
                                <p class="card-text mb-1 "  th:text="${today} "> </p>
                                <p class="card-text" >Trung tâm tiêm chủng Vaccine Đà Nẵng </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="card  rounded-3   card-custom card-custom-2 ">
                            <div class="card-body text-black ">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title"> Tiêm chủng </h5>
                                    <div class="icon-custom icon-custom-2">
                                        <i class="fa-regular fa-calendar-days icon-item" ></i>
                                    </div>
                                </div>
                                <span th:text="${countVacc.getCompleteSchedule() != null ? countVacc.getCompleteSchedule() : 0 }"></span>

                                <span class="card-text mb-1" th:text="${ ' / ' + countVacc.getAllSchedule() + ' ca đã hoàn thành hôm nay.'}">
                                </span>
                                <p class="card-text text-primary mt-1 " >
                                  Fighting!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card  rounded-3 card-custom card-custom-3 ">
                            <div class="card-body text-black ">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title"> Tất cả Vắc xin  </h5>
                                    <div class="icon-custom icon-custom-3">
                                        <i class="fa-solid fa-syringe icon-item" ></i>
                                    </div>
                                </div>
                                <p class="card-text  mb-1" th:text="${countVaccine + ' vaccine.'}"></p>
                                <p class="card-text text-success " >Updating...</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-xxl-5 ">

                    <div class="col-12 ">
                        <div class="d-flex justify-content-between align-items-center p-2 chart-custom ">
                            <h5> Biểu đồ thống kê </h5>
                            <div class="d-flex justify-content-between align-items-center ">

                                <select id="yearSelect" onchange="getChartData()" class="form-select me-xxl-5" aria-label="Default select example" >
                                </select>
                                <button id="downloadChart" class="border-0 bg-white me-5" > <i class="fa-solid fa-download fa-xl " style="color: #3538ad;"></i></button>


                            </div>
                        </div>
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:insert="admin/footer_admin"></th:block>
    </div>
</div>


<script>
    const startYear = 2015;
    const endYear = new Date().getFullYear() ;
    const yearSelect = document.getElementById("yearSelect");
    for (let year = endYear; year >= startYear; year--) {
        const option = document.createElement("option");
        option.value = year;
        option.text = year;
        yearSelect.appendChild(option);
    }
</script>



<script th:inline="javascript">
    var yearselect = document.getElementById("yearSelect").value;
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug" , "Sep", "Oct", "Nov","Dev"],
            datasets: [{
                label: 'Số ca tiêm chủng ' + yearselect,
                data:  /*[[${chartList}]]*/ [],


                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(215,203,108,0.2)',
                    'rgba(204,109,98,0.2)',
                    'rgba(135,217,81,0.2)',
                    'rgba(65,133,180,0.2)',
                    'rgba(65,13,108,0.2)',
                    'rgba(213,139,62,0.2)',
                    'rgba(24,217,195,0.2)',
                    'rgba(231,53,229,0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(215,203,108,1)',
                    'rgba(204,109,98,1)',
                    'rgba(135,217,81,1)',
                    'rgba(65,133,180,1)',
                    'rgba(65,13,108,1)',
                    'rgba(213,139,62,1)',
                    'rgba(24,217,195,1)',
                    'rgba(231,53,229,1)'
                ],
                borderWidth: 1,

            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,

                    }
                }]
            }
        }
    });
    function getChartData() {
        var year = document.getElementById("yearSelect").value;
        if (year != "") {
            const url = `/chart-data?year=${year}`;
            const xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                const data = JSON.parse(xhr.responseText);
                myChart.data.datasets[0].label = 'Vaccinations ' + year;
                myChart.data.datasets[0].data = data;
                // Vẽ lại biểu đồ
                myChart.update();
            };
            xhr.send();
        }
    }
    const downloadButton = document.getElementById("downloadChart");
    downloadButton.addEventListener("click", function() {
        // Chuyển đổi biểu đồ thành hình ảnh PNG
        const canvas = document.getElementById("myChart");
        const dataURL = canvas.toDataURL("image/png");

        // Tải hình ảnh về máy
        saveAs(dataURL, "chart"+ yearselect +".png");
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>
