<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Tables - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
  <link th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/custom-css.css}">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<th:block th:insert="admin/nav"></th:block>
<div id="layoutSidenav">
  <th:block th:insert="admin/sidenav"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Vaccination Event</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
          <li class="breadcrumb-item active">Event</li>
        </ol>
        <!--        <div class="card mb-4">-->
        <!--          -->
        <!--        </div>-->
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Vaccination Event
          </div>
          <div class="card-body">
            <form  th:action="@{/doctor/event}" method="get" class="col-3 ms-auto">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="strSearch" placeholder="Search here.."  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
              </div>

            </form>
            <table id="datatablesSimple" class="table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Date</th>
                <th>Vaccine</th>
                <th>Vaccine Type</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Times</th>
                <th>Location</th>
              </tr>
              </thead>

              <tbody>

              <tr th:each="vaccination : ${vaccinationList}" >
                <td class="p-5" th:text="${vaccination.getId()}"></td>
                <td class="p-5" th:text="${vaccination.getDescription()}"></td>
                <td class="p-5" th:text="${vaccination.getDate()}"></td>
                <td class="p-5" th:text="${vaccination.getVaccineName()}"></td>
                <td class="p-5"  th:text="${vaccination.getVaccineTypeName()}"></td>
                <td class="p-5"  th:text="${vaccination.getStartTime()}"></td>
                <td class="p-5"  th:text="${vaccination.getEndTime()}"></td>
                <td class="p-5"  th:text="${vaccination.getTimes()}"></td>
                <td class="p-5"  th:text="${vaccination.getLocationName()}"></td>

              </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination ms-1 d-flex justify-content-end align-items-center p-3">
                <li class="page-item me-3">
                  <a class="page-link"
                     th:href="@{/doctor/event(page=${vaccinationList.number - 1})}"
                     th:if="${vaccinationList.hasPrevious()}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${vaccinationList.first} ? disabled : ''">
                  <a class="page-link"
                     th:href="@{/doctor/event(page=0)}"
                     th:if="${vaccinationList.number > 2}">1</a>
                </li>


                <li class="page-item" th:classappend="${i == vaccinationList.number} ? active : ''"
                    th:each="i : ${#numbers.sequence(vaccinationList.number, vaccinationList.number + 1)}">
                  <a class="page-link"
                     th:href="@{/doctor/event(page=${i})}"
                     th:text="${i+1}"></a>
                </li>

                <li class="page-item" th:classappend="${vaccinationList.last} ? disabled : ''">
                  <span class="page-link">...</span>
                </li>
                <li class="page-item" th:classappend="${vaccinationList.last} ? disabled : ''">
                  <a class="page-link"
                     th:href="@{/doctor/event(page=${vaccinationList.totalPages - 1})}"
                     th:if="${vaccinationList.totalPages - vaccinationList.number > 3}">${vaccinationList.totalPages}</a>
                </li>
                <li class="page-item me-3">
                  <a class="page-link"
                     th:href="@{/doctor/event(page=${vaccinationList.number + 1})}"
                     th:if="${vaccinationList.hasNext()}">Next</a>
                </li>
              </ul>
            </nav>



          </div>
        </div>
      </div>
      <!-- Button trigger modal -->


    </main>
    <th:block th:insert="admin/footer_admin"></th:block>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>
