<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Tables - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
  <link th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/custom-css.css}">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<th:block th:insert="admin/nav"></th:block>
<div id="layoutSidenav">
  <th:block th:insert="admin/sidenav"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Vaccine Type</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
          <li class="breadcrumb-item active">Type</li>
        </ol>
        <!--        <div class="card mb-4">-->
        <!--          -->
        <!--        </div>-->
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Vaccine Type
          </div>
          <div class="card-body">
            <form th:action="@{/doctor/vaccineType}" method="get" class="col-3 ms-auto">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="strSearch" placeholder="Search here.."  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
              </div>

            </form>
            <table id="datatablesSimple" class="table-striped" th:if="${vaccineTypeList != null}">
              <thead>
              <tr>
                <th>ID</th>
                <th>Tên</th>
                <th class="th-table">DS Vắc-xin</th>
                <th class="th-table">Sự kiện TC</th>
              </tr>
              </thead>

              <tbody>

              <tr th:each="vaccineType : ${vaccineTypeList}">
                <td th:text="${vaccineType.getId()}"></td>
                <td th:text="${vaccineType.getName()}"></td>
                <td>
                  <a class="w-100" th:href="@{'/doctor/vaccineByType?type='+${vaccineType.getId()}}">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>
                <td>
                  <a class="w-100" th:href="@{'/doctor/event?strSearch='+${vaccineType.getName()}}">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>


              </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example"  >
              <ul class="pagination ms-1 d-flex justify-content-end align-items-center p-3">
                <li class="page-item me-3">
                  <a class="page-link"
                     th:href="@{/doctor/vaccineType(page=${vaccineTypeList.number - 1})}"
                     th:if="${vaccineTypeList.hasPrevious()}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${vaccineTypeList.first} ? disabled : ''">
                  <a class="page-link"
                     th:href="@{/doctor/vaccineType(page=0)}"
                     th:if="${vaccineTypeList.number > 2}">1</a>
                </li>


                <li class="page-item" th:classappend="${i == vaccineTypeList.number} ? active : ''"
                    th:each="i : ${#numbers.sequence(vaccineTypeList.number, vaccineTypeList.number + 1)}">
                  <a class="page-link"
                     th:href="@{/doctor/vaccineType(page=${i})}"
                     th:text="${i+1}"></a>
                </li>

                <li class="page-item" th:classappend="${vaccineTypeList.last} ? disabled : ''">
                  <span class="page-link">...</span>
                </li>
                <li class="page-item" th:classappend="${vaccineTypeList.last} ? disabled : ''">
                  <a class="page-link"
                     th:href="@{/doctor/vaccineType(page=${vaccineTypeList.totalPages - 1})}"
                     th:if="${vaccineTypeList.totalPages - vaccineTypeList.number > 3}">${vaccineTypeList.totalPages}</a>
                </li>
                <li class="page-item me-3">
                  <a class="page-link"
                     th:href="@{/doctor/vaccineType(page=${vaccineTypeList.number + 1})}"
                     th:if="${vaccineTypeList.hasNext()}">Next</a>
                </li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
      <!-- Button trigger modal -->


    </main>
    <th:block th:insert="admin/footer_admin"></th:block>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>
