<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment=”sidenav”>
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" th:href="@{/admin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Thống kê
                    </a>
                    <div class="sb-sidenav-menu-heading">Quản lý</div>
                    <a class="nav-link" th:href="@{/admin/employee}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Bác sĩ
                    </a>
                    <a class="nav-link" th:href="@{/admin/vaccines}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Vắc-xin
                    </a>
                    <a class="nav-link" th:href="@{/admin/vaccineTypes}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Loại vắc-xin
                    </a>
                    <a class="nav-link" th:href="@{/admin/account/view_account}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tài khoản
                    </a>
                    <a class="nav-link" th:href="@{/admin/patient/view_patient}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Bệnh nhân
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Sự kiện tiêm chủng
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_EMPLOYEE')" class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/doctor}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" th:href="@{/doctor/vaccination}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Vacciantion Schedule
                    </a>
                    <a class="nav-link" th:href="@{/doctor/history}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        History Vaccination
                    </a>
                    <a class="nav-link" th:href="@{/doctor/event}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Vaccination Event
                    </a>
                    <a class="nav-link" th:href="@{/doctor/vaccineType}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Vaccine Type
                    </a>
                    <a class="nav-link" th:href="@{/doctor/vaccine}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Vaccine
                    </a>
                    <a class="nav-link" th:href="@{/doctor/patient}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Patient
                    </a>
                </div>
            </div>

        </nav>
    </div>
</th:block>

</body>
</html>