<!DOCTYPE html>
<html>
<head>
  <title>Email Form</title>
</head>
<body>
<h1>Email Form</h1>
<form action="/sendEmail" method="get">
  <input type="submit" value="Send Email">
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Email Form</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Email Form</h1>-->
<!--<form th:action="@{/sendEmail/{id}(id=${id})}" method="get">-->
<!--  <label for="accountId">Account ID:</label>-->
<!--  <input type="number" id="accountId" name="accountId" required><br>-->
<!--  <input type="submit" value="Send Email">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->